.add-products{
    background: #f5f5f5;
    padding: 16px;
}

.add-products__tittle{
    color: #464646;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.add-products__drag-area{
    align-items: center;
    background: #FFFFFF;
    cursor: pointer;
    border: 1px dashed #C8C8C8;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 134px;
    justify-content: center;
    margin: 16px 0;
    width: 100%;
}

.add-products__drag-area__para{
    color: #6B6B6B;
    font-size: 14px;
    font-weight: 400;
}

#nombreDelProductoContainer, #precioDelProductoContainer, #descripcionContainer{
    margin: 16px 0;
    width: 100%;
}


#addProductBtn,
#nombreDelProductoLabel,
#nombreDelProducto,
#precioDelProducLabel,
#precioDelProducto,
#descripcionLabel,
#descripcion{
    width: 100%;
}

#descripcionContainer{
    height: 82px!important;
}

#descripcion{
    height: 50px!important;
}